/* Variable */
:root {
    --first-color: #000000;
    --second-color: #e9bdae;
}

html {
    scroll-behavior: smooth;
    
}

*::selection {
    background: var(--second-color);
}

/* Font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font - raginy */
@import url('./RaginyRegular-rgwZA.ttf');

@font-face {
  font-family: Raginy;
  src: url('./RaginyRegular-rgwZA.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
body{max-width: 100%;
    overflow-x: hidden;}
*{font-family: Poppins}

/* *{outline: .2px solid blue;}  */
